(
    name: "Gopass",
    description: "Syntax: gp <query>\nCopy password from gopass to clipboard",
    query: (
        regex: "^gp ",
        help: "gp ",
        isolate: true,
        no_sort: true,
        history: false,
    ),
    bin: (path: "cosmic-gopass-plugin"),
    icon: Name("dialog-password"),
)
